<!DOCTYPE html>
<html>

<head>
  <title>Article</title>
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header>
    <h1>Article</h1>
  </header>
  <main>
    <%- article %>
  </main>
  <footer>
    &copy; 2020 John
  </footer>
  <script src="/js/app.js"></script>
</body>

</html>
