header {
  height: 125px;
  line-height: 125px;
}

div {
  height: 300px;
}

footer {
  height: 75px;
  line-height: 75px;
}

/* Media Query */
@media (min-width: 960px) {
  div {
    display: inline-block;
    width: 300px;
  }
}
