nav {
  height: 25px;
  line-height: 25px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: .5rem;
}

nav ul li a {
  text-decoration: none;
}
