
* {
  font-family: times;
}

body {
  background: #fff;
}

#logo h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 2.4em;
}

#slogan {
  font-family: 'Abel', sans-serif;
  font-size: .65em;
  text-transform: uppercase;
}

h2 {
  
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
}

.print, .date{
  font-family: 'Abel', sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}

.print {
  text-decoration: none;
}

main p {
  font-size: 1.2em;
  line-height: 1.3em;
  text-indent: 30px;
}

input {
  font-family: 'Patrick Hand', cursive;
}

.recipe {
  letter-spacing: .1em;
  font-family: 'Patrick Hand', cursive;
}

.recipe li {
  font-size: 1.3em;
  line-height: 31px;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

aside img {
  float: left;
}

aside h3 {
  font-size: 1.6em;
}

aside button {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
}

